doctype html
html
    head
        title Voting App
        link(href="/css/materialize.min.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href="/css/styles.css", rel="stylesheet")
        script(type="text/javascript", src="/js/jquery-2.1.4.min.js")
        script(type="text/javascript", src="/js/materialize.min.js")
        script(type="text/javascript", src="/js/scripts.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        nav
          .nav-wrapper
            a.brand-logo.grey-text.text-lighten-1(href='#!') Logo
            a.button-collapse(href='#', data-activates='mobile-demo')
              i.material-icons menu
            ul.right.hide-on-med-and-down
              li
                a(href='/') Home
              li
                a(href='badges.html') Log In
              li
                a(href='collapsible.html') Sign Up
            ul#mobile-demo.side-nav
              li
                a(href='sass.html') Home
              li
                a(href='badges.html') Log In
              li
                a(href='collapsible.html') Sign Up
        block content
        
