doctype html
html
    head
        title Voting App
        link(href="/css/materialize.min.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href="/css/styles.css", rel="stylesheet")
        script(type="text/javascript", src="/js/jquery-2.1.4.min.js")
        script(type="text/javascript", src="/js/materialize.min.js")
        script(type="text/javascript", src="/js/scripts.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        nav
          .nav-wrapper
            a.brand-logo(href='#!') Logo
            a.button-collapse(href='#', data-activates='mobile-demo')
              i.material-icons menu
            ul.right.hide-on-med-and-down
              li
                a(href='sass.html') Sass
              li
                a(href='badges.html') Components
              li
                a(href='collapsible.html') Javascript
              li
                a(href='mobile.html') Mobile
            ul#mobile-demo.side-nav
              li
                a(href='sass.html') Sass
              li
                a(href='badges.html') Components
              li
                a(href='collapsible.html') Javascript
              li
                a(href='mobile.html') Mobile
        block content
        
