doctype html
html
    head
        title Voting App
        link(href="/css/materialize.min.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href="/css/styles.css", rel="stylesheet")
        script(type="text/javascript", src="/js/jquery-2.1.4.min.js")
        script(type="text/javascript", src="/js/materialize.min.js")
        script(type="text/javascript", src="/js/scripts.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        nav
          .nav-wrapper
            a.brand-logo.grey-text(href='#!') VoteBox
            a.button-collapse.grey-text(href='#', data-activates='mobile-demo')
              i.material-icons menu
            ul.right.hide-on-med-and-down
              li
                a.grey-text(href='/') Home
              li
                a.grey-text(href="#") Find a Poll
              li
                a.grey-text.modal-trigger(href='#login-modal') Log In
              li
                a.grey-text.modal-trigger(href='#signup-modal') Sign Up
            ul#mobile-demo.side-nav
              li
                a(href='/') Home
              li
                a(href="#") Find a Poll
              li
                a(href='/login') Log In
              li
                a(href='/signup') Sign Up
                
      .slider
        ul.slides
          li
            img(src='/img/slider1.jpg')
            // random image
            .caption.center-align
              h3 Give your opinion!
              h5.light.grey-text.text-lighten-3 Look through a ton of polls to leave your opinion.
          li
            img(src='/img/slider2.jpg')
            // random image
            .caption.left-align
              h3 Create your own ones.
              h5.light.grey-text.text-lighten-3 Don't you find any poll you like? That's not a problem :D
          li
            img(src='/img/slider3.jpg')
            // random image
            .caption.right-align
              h3 Keep alert!
              h5.light.grey-text.text-lighten-3 You can check at anytime your polls and quantity of votes.
          li
            img(src='/img/slider4.jpg')
            // random image
            .caption.center-align
              h3 Enjoy!
              h5.light.grey-text.text-lighten-3 You can create polls even of superheroes!
              
        // Modals Here -----
        
        #login-modal.modal
          .modal-content
            h4.center-align.bold Log In
            form#login-form(method="POST", action="/login")
              .row
                .col.s12
                    .row
                        .input-field.col.s12
                            i.material-icons.prefix account_circle
                            input#loginName.validate(type="text", required, name="loginName")
                            label(for="username-login") Username
                        .input-field.col.s12
                            i.material-icons.prefix lock_outline
                            input#loginPass.validate(type="password", required, name="loginPass")
                            label(for="pass-login") Password
                    
              .modal-footer
                a.modal-action.waves-effect.waves-green.btn-flat#login-submit(type="submit", name="login-action") Log In
                  i.material-icons.right lock_open
                a.modal-action.modal-close.waves-effect.waves-blue.btn-flat Close
            
        #signup-modal.modal
          .modal-content
            h4.center-align.bold Sign Up
            form#signup-form(method="POST", action="/signup")
              .row
                .col.s12
                    .row
                        .input-field.col.s12.m6
                            i.material-icons.prefix account_circle
                            input#username.validate(type="text", required, name="signupName")
                            label(for="username") Username
                        .input-field.col.s12.m6
                            i.material-icons.prefix email
                            input#email.validate(type="email", required, name="email")
                            label(for="email") Email
                        .input-field.col.s12.m6
                            i.material-icons.prefix lock_outline
                            input#pass.validate(type="password", required, name="signupPass")
                            label(for="pass") Password
                        .input-field.col.s12.m6
                            i.material-icons.prefix https
                            input#pass2.validate(type="password", required, name="pass2")
                            label(for="pass2") Repeat the Password
              .modal-footer
                a.modal-action.waves-effect.waves-green.btn-flat#signup-submit(type="submit", name="signup-action") Sign Up
                  i.material-icons.right send
                a.modal-action.modal-close.wafes-effect.waves-blue.btn-flat Close

        
        // -----------
              
        block content
        
        hr
        footer
          .row
              .col.s12.center-align
                  p #[a(href="http://www.freecodecamp.com/challenges/basejump-build-a-voting-app", target="_blank") FreeCodeCamp Basejump] | #[a(href="http://codepen.io/naturalsoul/full/zvOVev", target="_blank") Naturalsoul].