extends ./_layout.jade
block content
    .container(style="margin-top: 80px")
        .row
            .col.s12.m4
                header.center-align
                    i.material-icons.large.light-green-text done_all
                p Your opinion is important for every person who makes a poll, so, don't forget to mark an option in the polls.
            .col.s12.m4
                header.center-align
                    i.material-icons.large.teal-text.text-darken-1 stars
                p Want to know what people think about something ? Or, have a doubt about something ? Don't forget to create your own polls to have an answer.
            .col.s12.m4
                header.center-align
                    i.material-icons.large.orange-text perm_device_information
                p You can check at anytime about the quantity of votes in any of your polls. You can check it in your profile.