.brand-logo {
    margin-left: 55px;
}

.nav-wrapper > ul {
    margin-right: 55px;
}

nav {
    background-color: white;
}

.caption  h3, .caption h5 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}